{include file="public/_head" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        {include file="public/_left" /}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;控制面板
                    </li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well bordered-left bordered-themeprimary">
                            <h1 style="font-weight: 900!important;font-style: italic;text-shadow: 5px 5px 5px #ff0000;font-family: '新宋体'">
                                欢迎使用梦中程序员后台管理系统！
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="well with-header with-footer">
                            <div class="header bg-themeprimary">
                                服务器信息
                            </div>
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2">服务器信息</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>服务器域名</td>
                                    <td>{$Request.domain}</td>
                                </tr>
                                <tr>
                                    <td>服务器IP地址</td>
                                    <td>{$Request.ip}</td>
                                </tr>
                                <tr>
                                    <td>服务器端口</td>
                                    <td>{$Request.port}</td>
                                </tr>
                                <tr style="font-weight: bold;text-align: center;text-shadow: 2px 2px 2px #ff0000;font-style: italic;">
                                    <td>拜师QQ</td>
                                    <td>305530751</td>
                                </tr>
                                <tr>
                                    <td>联系邮箱</td>
                                    <td>leruge@163.com</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="footer">拜师请联系QQ:305530751</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
{include file="public/_js" /}
</body>
<!--  /Body -->
</html>
