{include file="public/_head" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        {include file="public/_left" /}
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;栏目管理
                    </li>
                    <li>栏目列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <a href="cateadd.html" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;栏目添加</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget">
                            <div class="widget-header">
                                <span class="widget-caption">栏目列表</span>
                                <div class="widget-buttons">
                                    {$cates->render()|raw|replace}
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>栏目名称</th>
                                        <th>栏目排序</th>
                                        <th>更新时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='cates' id='vo'}
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>{$vo.catename}</td>
                                        <td><input type="text" name="sort" value="{$vo.sort}" dataid="{$vo.id}" size="1"></td>
                                        <td>{$vo.update_time|date='Y-m-d H:i:s'}</td>
                                        <td>
                                            <a href="{:url('admin/cate/edit',['id'=>$vo.id])}" class="btn btn-azure btn-xs">编辑</a>
                                            <a href="#" class="btn btn-danger btn-xs cate-del" dataid="{$vo.id}">删除</a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file="public/_js" /}
<script>
    $(function () {
        $('.pagination').addClass('pagination-sm');
        //排序
        $('input[name=sort]').change(function () {
            var id = $(this).attr('dataid');
            var sort = $(this).val();
            $.ajax({
                url:"{:url('admin/cate/sort')}",
                type:'post',
                data:{id:id,sort:sort},
                dataType:'json',
                success:function (data) {
                    if(data.code == 1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:2000
                        },function () {
                            location.href = data.url
                        })
                    }else {
                        layer.open({
                            title:'排序失败',
                            content:data.msg,
                            icon:5,
                            anim:6
                        })
                    }
                }
            });
        });
        //删除
        $('.cate-del').click(function () {
            var id = $(this).attr('dataid');
            layer.confirm('确定删除吗？',{
                title:'栏目删除',
                icon:3
            },function (index) {
                layer.close(index);
                $.ajax({
                    url:"{:url('admin/cate/del')}",
                    type:'post',
                    data:{id:id},
                    dataType:'json',
                    success:function (data) {
                        if(data.code == 1){
                            layer.msg(data.msg,{
                                icon:6,
                                time:2000
                            },function () {
                                location.href = data.url
                            })
                        }else {
                            layer.open({
                                title:'栏目删除失败',
                                content:data.msg,
                                icon:5,
                                anim:6
                            })
                        }
                    }
                });
            });
            return false;
        });
    })
</script>
</body>
<!--  /Body -->
</html>
